body {
    background-color: #f0f0f0;
    font-family: arial, sans-serif;
    text-align: center;

}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}

a {
    display: block;
    color: blue;
    text-decoration: none; /*Remove o sublinhado padrão dos links*/ 
    font-weight: bold; /*Negrito - bold -> padrão*/ 
}

a:hover {
    color:black; /*Mudança da cor do link ao passar o mouse */
    font-size: 20px; /*Aumenta o tamanho ao passar o mouse*/ 
    transition: 0.3s; /*Transição de estilo conforme o tempo estabelecido*/
}

.container {
    display: flex; /*Dispõe os itens para os lados*/
    justify-content: center; /*Centralização*/
    gap: 20px; /*Distância entre os icones*/
    margin-top: 20px; /*Distância em relação a margem de cima*/
}

#card {
    background: white; /*Cor*/
    padding: 20px;
    border: 1px solid #ccc;
    width: 150px; /*Largura*/
    text-align: center; /*Centralização*/
    box-shadow: 2px 2px 10px rgba(0,0,0,0); /*Sombra*/
}

/*Media Query*/
@media(max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;

    }

    #card {
        width: 80%; 
    }
}





